{% extends "base.html" %}

{% load static %}


{% block title %}
    Book-Details
{% endblock title %}



{% block content %}
<p class="text-center fs-1 fw-semibold">Book Details</p>
<div class="d-flex justify-content-center">
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{book.image.url}}" class="img-fluid rounded-start" alt="{{book.title}}" style="height: 100%; width: 100%; object-fit: cover;">  
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{book.title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Author: {{book.author}}</h6>
          <h6 class="card-subtitle mb-2 text-muted">Genre: {{book.genre}}</h6>
          <p class="card-text">{{ book.description }}</p>
          <h6 class="card-subtitle mb-2">Price: {{book.price}}</h6> 
          <br>
          <a href="{% url 'edit' book.slug %}" class="btn btn-primary">Edit</a> &nbsp &nbsp &nbsp
          <a href="{% url 'delete' book.slug %}" class="btn btn-primary auto">Delete</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="text-center fs-3 fw-medium"> <a href="{% url 'home' %}" class="btn btn-secondary">Back to home</a> </div>

{% endblock content %}
      